<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhd.idiom.mapper.IdiomMapper">

    <insert id="insert">
        INSERT INTO idiom (idiom, pinyin, pinyin_tone_mark, pinyin_first_word)
        VALUE (#{idiom.idiom}, #{idiom.pinyin}, #{idiom.pinyinToneMark}, #{idiom.pinyinFirstWord})
    </insert>

    <update id="update">
        UPDATE idiom
        <set>
            <if test="idiom.idiom != null and idiom.idiom != ''">
                idiom = #{idiom.idiom},
            </if>
            <if test="idiom.pinyin != null and idiom.pinyin != ''">
                pinyin = #{idiom.pinyin},
            </if>
            <if test="idiom.pinyinToneMark != null and idiom.pinyinToneMark != ''">
                pinyin_tone_mark = #{idiom.pinyinToneMark},
            </if>
            <if test="idiom.pinyinFirstWord != null and idiom.pinyinFirstWord != ''">
                pinyin_first_word = #{idiom.pinyinFirstWord},
            </if>
        </set>
        WHERE id = #{idiom.id}
    </update>

    <select id="getList" resultType="com.hhd.idiom.bean.Idiom">
        SELECT `id`, `idiom`, `pinyin`, `pinyin_tone_mark` AS pinyinToneMark
        FROM idiom
        <where>
            <if test="idiom.idiom != null and idiom.idiom != ''">
                idiom = #{idiom.idiom}
            </if>
            <if test="idiom.pinyin != null and idiom.pinyin != ''">
                pinyin LIKE  CONCAT(#{idiom.pinyin}, '%')
            </if>
            <if test="idiom.pinyinFirstWord != null and idiom.pinyinFirstWord != ''">
                pinyin_first_word = #{idiom.pinyinFirstWord}
            </if>
        </where>
        LIMIT 0, 50
    </select>

    <select id="getListWithToneMarkNull" resultType="com.hhd.idiom.bean.Idiom">
        SELECT `id`, `idiom`, `pinyin`, `pinyin_tone_mark`, pinyin_first_word
        FROM idiom
        WHERE pinyin_tone_mark IS NULL
        LIMIT 0, 1000
    </select>

    <select id="getListWithFistWordNull" resultType="com.hhd.idiom.bean.Idiom">
        SELECT `id`, `idiom`, `pinyin`, `pinyin_tone_mark`, pinyin_first_word
        FROM idiom
        WHERE pinyin_first_word IS NULL
        LIMIT 0, 1000
    </select>

</mapper>
